[Unit]
Description=Shario Server
After=network.target

[Service]
Type=simple
DynamicUser=true
ExecStart=/usr/bin/shario

Restart=always
RestartSec=10s

LimitNOFILE=1024
LimitNPROC=32

ProtectHome=true
PrivateDevices=true
ProtectKernelTunables=true
ProtectKernelModules=true
ProtectControlGroups=true

ProtectKernelTunables=true
ProtectKernelModules=true
ProtectControlGroups=true

RestrictNamespaces=true

SystemCallArchitectures=native
SystemCallFilter=@system-service
RestrictAddressFamilies=AF_INET AF_INET6

LockPersonality=true
RestrictRealtime=true

# MemoryDenyWriteExecute=true

[Install]
WantedBy=multi-user.target